@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Roboto+Slab:wght@400;700&family=Space+Mono:wght@400;700&display=swap");

// COLORS
$clr-pm-darkest: hsl(234deg, 39%, 14%);
$clr-pm-dark: hsl(235deg, 35%, 18%);

$clr-nt-lightest: hsl(0deg, 0%, 100%);
$clr-nt-light: hsl(229deg, 52%, 96%);
$clr-nt-mid: hsl(227deg, 100%, 92%);

$clr-accent-1: hsl(0deg, 91%, 71%);
$clr-accent-2: hsl(182deg, 91%, 71%);
$clr-accent-3: hsl(284deg, 89%, 74%);

// FONTS
$ff-option-1: "Kumbh Sans", sans-serif;
$ff-option-2: "Roboto Slab", serif;
$ff-option-3: "Space Mono", monospace;

$fw-reg: 400;
$fw-bold: 700;

@mixin circle($size:90%, $bg-clr:$clr-pm-darkest) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $size;
  height: $size;
  background-color: $bg-clr;
  border-radius: 50%;
}
