@use "/src/sass/config" as *;

.body-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
}

.logo {
  margin-bottom: 3.5rem;
}

.timer_types {
  background-color: $clr-pm-darkest;
  padding: 0.5rem;
  border-radius: 5rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;

  .btn {
    opacity: 40%;
    white-space: nowrap;
  }

  .btn:hover {
    color: $clr-nt-mid;
    opacity: 100%;
  }

  .btn--selected {
    opacity: 100%;
    pointer-events: none;
  }
}

.timer {
  @include circle(300px, lighten($clr-pm-darkest, 10%));
  margin-inline: auto;
  margin-bottom: 10rem;

  .timer--inner {
    @include circle;
  }

  .timer_progress-bar {
    @include circle(93%, var(--clr-accent-current));
  }

  .timer_content {
    @include circle(95%);
    flex-direction: column;
  }
}

.btn--settings:hover {
  path {
    opacity: 100%;
    fill: var(--clr-accent-current);
  }
}
