@use "/src/sass/config" as *;

.body-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
}

.logo {
  margin-bottom: 3.5rem;
}

.timer_types {
  width: 90%;
  margin-inline: auto;
  background-color: $clr-pm-darkest;
  padding: 0.75rem;
  border-radius: 5rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;

  .btn {
    width: calc(100% / 3);
    opacity: 40%;
    white-space: nowrap;
    display: flex;
    justify-content: center;
  }

  .btn:hover {
    color: $clr-nt-mid;
    opacity: 100%;
  }

  .timer--selected {
    opacity: 100%;
    pointer-events: none;
  }
}

.timer {
  @include circle(300px, lighten($clr-pm-darkest, 10%));
  margin-inline: auto;
  margin-bottom: 5rem;
  background: #091022;
  background: -moz-linear-gradient(
    -45deg,
    #091022 0%,
    #2d3367 81%,
    #30376f 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    #091022 0%,
    #2d3367 81%,
    #30376f 100%
  );
  background: linear-gradient(135deg, #091022 0%, #2d3367 81%, #30376f 100%);

  box-shadow: -10px -20px 50px 10px rgba(74, 101, 224, 0.2),
    10px 20px 50px 10px rgba(5, 5, 10, 0.75);

  .timer--inner {
    @include circle;
  }

  .timer_progress-bar {
    @include circle(93%, var(--clr-accent-current));
    background: var(--clr-accent-current);
  }

  .timer_content {
    @include circle(95%);
    flex-direction: column;
  }
}

footer {
  display: flex;
  gap: 2rem;

  .btn--reset {
    padding: 1rem 0.5rem;
  }
}

.btn--footer:hover {
  color: var(--clr-accent-current);

  path {
    opacity: 100%;
    fill: var(--clr-accent-current);
  }
}
