@media (min-width: 625px) {

  #error-message {
    left: 0;
    bottom: -4rem;
  }

  .timer {
    width: 375px;
    height: 375px;
    margin-bottom: 5rem;

    .timer_content {
      h1 {
        font-size: 85px;
      }
    }
  }

  .settings {
    padding: 1rem 3rem;

    .option {
      flex-direction: row;
      justify-content: space-between;

      .option_title {
        margin-bottom: 0;
      }
    }

    .option--minutes {
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
    }

    .sub-options-container {
      max-width: none;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      gap: 1.5rem;

      .sub-option {
        gap: 1rem;
        width: calc(100% / 3);
        flex-direction: column;
        align-items: flex-start;

        .sub-option_data {
          width: 100%;
        }
      }
    }
  }
}
