@use "/src/sass/config" as *;

.settings {
  @include modal;
  padding: 1rem 1.5rem;
  width: 90%;
  max-width: 550px;
  border-radius: 1rem;
  color: $clr-pm-darkest;
  background-color: $clr-nt-lightest;

  * {
    color: inherit;
  }

  .settings_header {
    @include flex-row;
    padding-inline: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid $clr-nt-mid;
    padding: 1rem 1rem 1.5rem 1rem;
  }

  .option {
    @include flex-column;
    border-bottom: 1px solid $clr-nt-mid;
    padding: 2rem 0;
  }

  .option_title {
    margin-bottom: 2rem;
  }

  .sub-options-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .sub-option {
      @include flex-row;
      justify-content: space-between;
    }

    .sub-option_data {
      width: 50%;
      display: flex;
      background-color: $clr-nt-light;
      gap: 1rem;
      padding: 1rem;
      border-radius: 0.5rem;

      input {
        padding-left: 0.5rem;
      }
    }

    .input_data_increment {
      display: flex;
      flex-direction: column;
      max-width: fit-content;

      img {
        max-width: 2rem;
      }
    }
  }

  .option_choices-container {
    display: flex;
    gap: 1rem;

    .option_choice {
      @include circle(4rem, $clr-nt-light);

      .choice_hover {
        @include circle(100%);
        background-color: inherit;
      }
    }

    .option--font {
      font-size: 1.5rem;
    }

    .checkmark {
      display: none;
      background-color: inherit;
      max-width: 1.5rem;
    }

    button:hover {
      border: 1px solid $clr-nt-mid;

      .choice_hover {
        border: 4px solid $clr-nt-lightest;
      }
    }

    .color--selected {
      pointer-events: none;

      .checkmark {
        width: 4rem;
        display: initial;
      }
    }

    .font--selected {
      background-color: $clr-pm-darkest;
      color: $clr-nt-lightest;
      pointer-events: none;
    }

    .font--1 {
      font-family: $ff-option-1;
    }

    .font--2 {
      font-family: $ff-option-2;
    }

    .font--3 {
      font-family: $ff-option-3;
    }

    .color--1 {
      background-color: $clr-accent-1;
    }

    .color--2 {
      background-color: $clr-accent-2;
    }

    .color--3 {
      background-color: $clr-accent-3;
    }
  }

  .option--color {
    border-bottom: none;
    margin-bottom: 3rem;
  }

  .btn--apply {
    background-color: var(--clr-accent-current);
    padding: 1.5rem 3rem;
    font-size: 1.3rem;
    color: $clr-nt-lightest;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .btn--apply:hover {
    filter: brightness(85%);
  }
}
