@use "/src/sass/config" as *;

.hidden {
  display: none;
}

.btn {
  background-color: $clr-pm-darkest;
  padding: 1.5em 2em;
  border-radius: 5rem;
}

.btn--selected {
  opacity: 100%;
  color: $clr-pm-darkest;
  background-color: var(--clr-accent-current);
}
